html {
    background-color: #000000;
    
}

.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }

.main {
    margin-top: 140px;
    background-color: #000000;
    font-family: 'DM Sans', sans-serif;
}

.main h1 {
    color: #fff;
    
}